# Backend configuration
DATABASE_URL=postgresql://username:password@host:port/database_name?sslmode=require

# App settings
APP_NAME=chess-backend
APP_DOMAIN=api.astrachess.com

# Docker image configuration (optional)
DOCKERHUB_USERNAME=trunganh0106
IMAGE_BACKEND=chess-bot-backend
