# Database connection URL (e.g. Neon PostgreSQL, local PostgreSQL, etc.)
DATABASE_URL=postgresql://username:password@host:port/database_name?sslmode=require

# App settings
APP_NAME=chess-backend
APP_DOMAIN=api.astrachess.com
